@model MRMV2.Models.LandingPageModel
@{
    ViewBag.Title = "My Recipe Manager";
}
<link rel="stylesheet" href="~/Css/HomeMain.css" />

<style>
    hr {
        border-top: 3px solid #eeeeee;
    }

    #bottom {
        position: absolute;
        bottom: 1%;
        left: 10%;
        width: 80%;
        text-align: center;
    }

        #bottom img {
            width: 50px;
            margin-right: 1%;
        }


    #slideshow img {
        display: none;
    }

        #slideshow img.first {
            display: block;
        }


    #newsPanel {
        background-color: rgb(189, 214, 254);
        width: 90%;
        height: 100%;
        float: right;
        margin-left: 10px;
        overflow-y: auto;
    }




    #newsContainer {
        width: 30%;
        height: 450px;
        float: right;
        overflow-y: auto;
        margin-top: 55px;
    }


        #newsContainer h3 {
            padding-left: 10%;
        }






    #hotContainer {
        width: 70%;
        height: 450px;
        float: left;
        position: relative;
    }

    .container {
        height: 100%;
    }



    #recentContainer {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #recentSection {
        width: 2000px;
    }

    .recentRecipeImg {
        float: left;
        margin-right: 50px;
        position: relative;
        height: 150px;
    }

        .recentRecipeImg img {
            width: 150px;
            height: 100px;
            cursor: pointer;
        }

        .recentRecipeImg a {
            position: absolute;
            left: 0px;
            /*bottom: 0px;*/
            top: 100px;
        }


    #firstRow {
        height: 510px;
    }


    .uploaderProfile {
        font-weight: bold;
        float: left;
    }



    .newsItem {
        background-color: rgba(148, 172, 248, 0.44);
        border-radius: 5px;
        border: 1px solid rgba(148,172,248,0.44);
        margin-bottom: 6px;
        min-height: 70px;
    }

        .newsItem a {
            color: black;
        }

            .newsItem a:hover {
                color: black;
                text-decoration: none;
            }

    .uploaderImage {
        float: left;
        margin-left: 10px;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }



    .newsSection {
        margin-left: 10px;
    }

    #newsPanel::-webkit-scrollbar {
        width: 12px;
        padding-left: 200px;
    }

    #newsPanel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    #newsPanel::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    #recentContainer::-webkit-scrollbar {
        height: 12px;
        padding-left: 200px;
    }

    #recentContainer::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    #recentContainer::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
</style>


<div id="firstRow">
    <div id="hotContainer">
        <h3>What's Hot</h3>
        @{Html.RenderPartial("DisplayPicture");}

    </div>

    <div id="newsContainer">
        <h3>News</h3>
        @{Html.RenderPartial("DisplayNews");}
    </div>
</div>
<div>
    <div id="recentContainer">
        <h3>Recent Upload</h3>
        @{Html.RenderPartial("DisplayRecent");}
    </div>
</div>


<script src="@Url.Content("~/Scripts/getNews.jsx")"></script>
<script type="text/javascript">


    $(".cycle-slideshow img").css("height", "100%");

    //If a message was passed display it
    if ('@ViewBag.Message' != "")
        toast('@ViewBag.Message', 2000)




</script>






