@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="accountPages">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

    </div>

<script>

    //Remove the links to login, register and search from this page
    $("#searchLink, #loginLink, #registerLink").remove();

</script>